/*
  Author: Glen Mustonen
  Date: 2025-10-3
*/

h1 {
  display: flex; /*Centers header*/
  justify-content: center; /*Centers header*/
  font-family: 'Orbitron', 'Bebas Neue', 'Anton', sans-serif; /*font*/
}

img {
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 500px;
  display: flex; /*Use flex for horizontal and vertical centering — requires margin: auto or alignment props*/
  margin: auto;
  border-radius: 30px; /*makes corners curved*/
}

video {
  display: flex;
  margin: auto;
  margin-top: 50px;
  border-radius: 30px;
}

audio {
  display: flex;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 30px;
}

body {
  background: linear-gradient(#271454, black);
  color: white;
}

p {
  text-align: center;
  font-family: 'Orbitron', 'Bebas Neue', 'Anton', sans-serif;
}